* {
  padding: 0;
  margin: 0;
  transition: all 0.25s ease-in;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #010030;
  overflow-x: hidden;
  width: 100%;
}

.dc-container {
  max-width: 1280px;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1439px) {
  .dc-container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1280px) {
  .dc-container {
    max-width: 1024px;
  }
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  line-height: 140%;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  line-height: 120%;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  line-height: 160%;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}
h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  line-height: 140%;
}
h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 140%;
}

@media screen and (max-width: 1280px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 22px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 16px;
  }
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.2);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
  color: rgba(255, 255, 255, 0.2);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.2);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: 'Open Sans';
}

.btn:hover {
  filter: brightness(0.8);
}

.btn-primary {
  background: linear-gradient(0deg, #008cec, #008cec);
}

.btn-gradient {
  background: linear-gradient(180deg, #00c5c6 0%, #008cec 100%);
}

.btn-gradient-secondary {
  background: linear-gradient(180deg, #00c5c6 0%, #008cec 100%);
}

.gradient-title {
  background-color: #010030;
  background-image: linear-gradient(180deg, #00c5c6 0%, #008cec 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* .btn-gradient-outline-primary {
  background: linear-gradient(90deg, #00c5c6 0%, #008cec 100%);
  box-shadow: 1px 1000px 1px #fff inset;
}

.btn-gradient-outline-primary .content {
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(#00c5c6, #008cec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-gradient-outline-primary .content img {
  margin-left: 8px;
} */

/* nav styles */
#dc-navbar {
  background-color: transparent;
  padding-top: 56px;
  padding-bottom: 56px;
}

#dc-navbar .navbar-brand {
  width: 260px;
  height: 54px;
  display: block;
}

#dc-navbar .navbar-toggler {
  border-color: white;
}
#dc-navbar .navbar-toggler-icon {
  background-image: url('../images/hamburger.svg');
}

#dc-navbar .navbar-brand img {
  width: 100%;
  height: 100%;
}

#dc-navbar .navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

#dc-navbar .navbar-nav .nav-link {
  color: white;
}
#dc-navbar .navbar-nav .nav-item {
  margin-left: 20px;
  margin-right: 20px;
}
#dc-navbar .navbar-nav .nav-item.active {
  position: relative;
}
#dc-navbar .navbar-nav .nav-item.active .nav-link {
  font-weight: bold;
}

#dc-navbar .navbar-nav .nav-item.active::after {
  content: ' ';
  position: absolute;
  width: 7px;
  height: 7px;
  background: linear-gradient(180deg, #00c5c6 0%, #008cec 100%);
  box-shadow: 0px 0px 10px #008cec, 0px 0px 10px #01c4c7;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3.5px;
}

#dc-navbar .btn-buynow {
  width: 114px;
  height: 51px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin-left: 36px;
}

#dc-navbar .btn-watch-demo {
  width: 150px;
  height: 51px;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  /* background: url('../images/watch-demo-outline.svg') no-repeat; */
  background-size: 100% 100%;
}

@media screen and (max-width: 1280px) {
  #dc-navbar {
    padding-top: 46px;
    padding-bottom: 46px;
  }
  #dc-navbar .navbar-brand {
    width: 211px;
    height: 44px;
  }

  #dc-navbar .navbar-nav .nav-item {
    margin-left: 10px;
    margin-right: 10px;
  }

  #dc-navbar .btn-watch-demo {
    width: 135px;
    height: 46px;
  }

  #dc-navbar .btn-buynow {
    margin-left: 18px;
    width: 100px;
    height: 46px;
  }
}

@media screen and (max-width: 991px) {
  #dc-navbar .navbar-nav .nav-item {
    text-align: center;
  }
  #dc-navbar .navbar-nav .nav-item.active::after {
    border-radius: 0;
    width: 60px;
    height: 2px;
    bottom: 2px;
  }
  #dc-navbar .form-inline {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #dc-navbar .form-inline .btn {
    margin: 10px 0 0 0;
  }
  #dc-navbar .form-inline .btn-buynow {
    margin: 20px 0 0 0;
  }
}
/* section start */
#section-one {
}

#section-one h1.title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.03em;
  color: #ffffff;
}

#section-one .dc-container {
  display: flex;
}

#section-one .left-div {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#section-one h3.sub-title {
  font-weight: 300;
  color: #f2f2f2;
  max-width: 486px;
  margin: 41px 0 0 0;
}

#section-one .btn-wrapper {
  display: flex;
  margin: 60px 0 0 0;
}

#section-one .btn-wrapper .btn-buynow {
  width: 150px;
  height: 61px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

#section-one .btn-wrapper .btn-freetrial {
  border-radius: 10px;
  width: 150px;
  height: 61px;
  margin: 0 0 0 37px;
  background-color: transparent;
  border: none;
  padding: 0;
}

#section-one .right-div {
  flex: 0 0 50%;
}

#section-one .right-div img {
  width: 100%;
}

#section-one .dc-container .btn-godown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30.34px;
  height: 39.9px;
  bottom: 0;
  display: flex;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  #section-one .dc-container .btn-godown {
    bottom: -60px;
  }
}

@media screen and (max-width: 767px) {
  #section-one .dc-container {
    flex-wrap: wrap;
  }

  #section-one .dc-container .left-div {
    flex: 1 1 100%;
    text-align: center;
  }
  #section-one h3.sub-title {
    max-width: 100%;
  }
  #section-one .btn-wrapper {
    justify-content: center;
  }
  #section-one .dc-container .right-div {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
  }

  #section-one .dc-container .right-div img {
    width: 70%;
  }
}

/* section one end */

/* section two start */
#section-two .dc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
}
#section-two h4.title-one {
  font-weight: 800;
  text-align: center;
  margin: 0;
}
#section-two h2.title-two {
  font-weight: bold;
  margin: 19px 0 0 0;
  color: white;
  text-align: center;
}
#section-two h4.title-three {
  letter-spacing: 0.02em;
  color: #f2f2f2;
  font-weight: 300;
  margin: 34px 0 0 0;
  text-align: center;
  line-height: 160%;
}

#section-two .card-container {
  display: flex;
  justify-content: space-between;
  margin: 18px 0 0 0;
  padding: 0 50px;
  width: 100%;
}

#section-two .card-container .person-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 307px;
  height: 375px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(60px);
  border-radius: 28px;
  margin: 40px 0 0 0;
  /* padding: 51px 34px 55px; */
  padding: 50px 12px 50px;
}

#section-two .card-container .person-card img {
  height: 113px;
  width: auto;
}

#section-two .card-container .person-card h5 {
  font-style: normal;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin: 20px 0 0 0;
  text-align: center;
}

#section-two .card-container .person-card h6 {
  font-style: normal;
  font-weight: 300;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #e0e0e0;
  margin: 22px 0 0 0;
}

@media screen and (max-width: 1280px) {
  #section-two .card-container .person-card {
    width: 280px;
  }
}

@media screen and (max-width: 1023px) {
  #section-two .card-container {
    flex-direction: column;
    align-items: center;
  }
}
/* section two end */

/* section three start */
#section-three {
  margin: 236px 0 0 0;
}

#section-three .dc-container {
  display: flex;
}

#section-three .dc-container .left-div {
  padding-top: 48px;
  padding-right: 95px;
}

#section-three .left-div .title-one {
  font-weight: 800;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin: 0;
}

#section-three .left-div .title-two {
  margin: 20px 0 0 0;
  font-weight: bold;
  font-size: 45px;
  line-height: 120%;
  color: white;
}

#section-three .left-div .title-three {
  margin: 32px 0 0 0;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #f2f2f2;
}

#section-three .btn-watch-demo {
  width: 171px;
  height: 61px;
  font-size: 16px;
  line-height: 160%;
  color: white;
  margin: 10px 0 0 0;
}

#section-three .btn-watch-demo img {
  margin-left: 12px;
}

#section-three .right-div {
  height: 632px;
  flex: 0 0 780px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-three .right-div .img-back {
  width: 632px;
  height: 632px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#ctrl-carousel {
  width: 100%;
  display: flex;
  justify-content: center;
}
#ctrl-carousel .carousel-inner {
  width: 744px;
}
#ctrl-carousel .carousel-item {
  width: 744px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 527px;
}

#ctrl-carousel .carousel-item img {
  width: 100%;
  height: 100%;
}

#ctrl-carousel .carousel-item.active {
  display: flex;
}

#ctrl-carousel .img {
  width: 100%;
  height: auto;
}

#ctrl-carousel .carousel-control-next,
#ctrl-carousel .carousel-control-prev {
  width: auto;
}
#ctrl-carousel .carousel-control-prev-icon {
  width: 29.67px;
  height: 54.87px;
  background-image: url('../images/carousel-left.svg');
}

#ctrl-carousel .carousel-control-next-icon {
  width: 29.67px;
  height: 54.87px;
  background-image: url('../images/carousel-right.svg');
}

@media screen and (max-width: 1439px) {
  #section-three .right-div {
    flex: 0 0 540px;
    height: 540px;
  }

  #section-three .right-div .img-back {
    width: 500px;
    height: 500px;
  }

  #ctrl-carousel .carousel-inner {
    width: 440px;
  }

  #ctrl-carousel .carousel-item {
    width: 440px;
    height: 260px;
  }
}

@media screen and (max-width: 1280px) {
  #section-three .left-div .title-two {
    font-size: 32px;
  }
}

@media screen and (max-width: 1024px) {
  #section-three {
    margin-top: 118px;
  }
  #section-three .dc-container {
    flex-wrap: wrap;
  }
  #section-three .dc-container .left-div {
    flex: 1 1 100%;
    padding: 0;
    text-align: center;
  }
  #section-three .btn-watch-demo {
    margin-left: auto;
    margin-right: auto;
  }
  #section-three .dc-container .right-div {
    flex: 1 1 100%;
    margin-top: 50px;
  }
  #section-three .left-div .title-two {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  #section-three .right-div .img-back {
    max-width: 80%;
  }
}

/* section three end */

/* section four start */
#section-four {
  margin: 289px 0 339px;
}
#section-four .dc-container {
  display: flex;
}
#section-four .left-div {
  display: flex;
  flex-direction: column;
}

#section-four h4.title-one {
  font-weight: 800;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin: 0;
}

#section-four h2.title-two {
  margin: 20px 0 0 0;
  font-weight: bold;
  font-size: 45px;
  line-height: 120%;
  color: white;
}

#section-four h3.title-three {
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #f2f2f2;
  margin: 32px 0 0 0;
}

#section-four .btn-download {
  width: 157px;
  height: 70px;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  padding: 0;
  margin: 70px 0 0 0;
}

#section-four .btn-download span {
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.02em;
  color: #f2f2f2;
  padding: 0;
  margin-left: 12px;
  text-align: left;
}

@media screen and (max-width: 1280px) {
  #section-four h2.title-two {
    font-size: 32px;
  }
}

@media screen and (max-width: 1023px) {
  #section-four {
    margin: 140px 0 160px;
  }
  #section-four .dc-container {
    flex-wrap: wrap;
  }
  #section-four .left-div {
    flex: 1 1 100%;
    text-align: center;
  }
  #section-four .btn-download {
    margin-left: auto;
    margin-right: auto;
  }
  #section-four .right-div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex: 1 1 100%;
  }
  #section-four .right-div img {
    width: 70%;
  }
}

/* section four end */

/* footer start */
#footer {
  border-top: 1px solid #bdbdbd;
}
#footer > .dc-container {
  display: flex;
  padding-top: 62px;
}

#footer .logo {
  display: block;
  width: 260px;
  height: 54px;
  cursor: pointer;
}

#footer .logo img {
  width: 100%;
  height: 100%;
}

#footer .div-one {
  display: flex;
  flex-direction: column;
}

#footer .div-one p {
  font-size: 16px;
  line-height: 150%;
  color: white;
  margin: 28px 0 0 0;
  width: 340px;
  font-weight: 300;
}

#footer .div-two {
  display: flex;
  justify-content: center;
  flex: 1 1 100%;
  padding: 23px 0 0 0;
}

#footer .div-two .btn-download {
  width: 171px;
  height: 70px;
  color: white;
  padding: 0;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
}

#footer .div-two .btn-download span {
  text-align: left;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  margin-left: 11.62px;
}

#footer .div-two .btn-watch-demo {
  width: 171px;
  height: 70px;
  margin-left: 43px;
}

#footer .div-two .btn-watch-demo img {
  margin-left: 12.17px;
}

#footer .div-three {
  display: flex;
  flex-direction: column;
  padding-top: 13px;
}

#footer .div-three h6 {
  font-size: 20px;
  line-height: 160%;
  color: white;
  margin: 0;
}

#footer .div-three .social-wrapper {
  display: flex;
  margin: 30px 0 0 0;
}

#footer .div-three .social-wrapper a {
  display: block;
  margin-right: 40px;
  cursor: pointer;
}

#footer .div-three .social-wrapper a:hover {
  filter: brightness(0.8);
}

#footer .div-three .social-wrapper a:last-child {
  margin-right: 0;
}

#footer .copyright {
  font-size: 16px;
  line-height: 120%;
  color: white;
  padding-top: 20px;
  padding-bottom: 52px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1280px) {
  #footer .logo {
    width: 211px;
    height: 44px;
  }
  #footer .div-two .btn-download {
    width: 144px;
    height: 55px;
    font-size: 14px;
  }
  #footer .div-two .btn-download img {
    width: 20px;
    height: 23px;
  }
  #footer .div-two .btn-download span {
    margin-left: 10px;
    font-size: 12px;
    line-height: 120%;
  }
  #footer .div-two .btn-watch-demo {
    width: 144px;
    height: 55px;
    font-size: 14px;
    padding: 0;
  }

  #footer .div-two .btn-watch-demo img {
    width: 16px;
    height: 16px;
    margin-left: 8px;
  }
}

@media screen and (max-width: 991px) {
  #footer > .dc-container {
    flex-wrap: wrap;
    padding-top: 42px;
  }
  #footer .div-one {
    flex: 0 0 100%;
    align-items: center;
  }
  #footer .div-one p {
    width: 100%;
    text-align: center;
  }
  #footer .div-two {
    flex: 0 0 100%;
    padding-top: 40px;
  }
  #footer .div-three {
    flex: 0 0 100%;
    padding-top: 40px;
    align-items: center;
  }
  #footer .copyright {
    padding-top: 40px;
  }
}
/* footer end */

/* how it works section start */
.howitworks-section-one {
  margin: 120px 0 677px;
}

.howitworks-section-one .dc-container {
  display: flex;
  flex-direction: column;
}

.howitworks-section-one .row-div {
  display: flex;
  width: 100%;
}

.howitworks-section-one .row-div.first-one {
  margin: 0 0 170px 0;
}

.howitworks-section-one .div-text-item {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  padding-left: 80px;
}

.howitworks-section-one .title-wrapper {
  display: flex;
  position: relative;
}

.howitworks-section-one .title-wrapper .number-span {
  position: absolute;
  width: 80px;
  left: -80px;
  top: 0;
  font-size: 35px;
  line-height: 160%;
  font-weight: 600;
}

.howitworks-section-one .div-text-item h2.title {
  font-size: 35px;
  line-height: 160%;
  margin: 0;
}

.howitworks-section-one .div-text-item h2.title span {
  position: absolute;
  width: 80px;
  left: -80px;
  top: 0;
  font-size: 35px;
  line-height: 160%;
  color: #828282;
  opacity: 0.4;
  font-weight: 800;
  font-size: 35px;
  line-height: 160%;
}

.howitworks-section-one .div-text-item p {
  margin: 51px 0 0 0;
  font-size: 25px;
  line-height: 160%;
  color: #ffffff;
}

.howitworks-section-one .div-img {
  display: flex;
  align-items: flex-start;
  flex: 0 0 50%;
  overflow: hidden;
}

.howitworks-section-one .row-div.first-one .div-text-item {
  padding-top: 85px;
}

.howitworks-section-one .row-div.first-one .div-img {
  justify-content: flex-end;
}

.howitworks-section-one .row-div.second-one {
  margin: 0 0 166px 0;
}

.howitworks-section-one .row-div.second-one .div-text-item {
  padding-top: 95px;
}

.howitworks-section-one .row-div.third-one {
  margin: 0 0 116px 0;
}

.howitworks-section-one .row-div.third-one .div-text-item {
  padding-top: 10px;
}

.howitworks-section-one .row-div.third-one .div-text-item p {
  max-width: 472px;
}

.howitworks-section-one .row-div.third-one .div-img {
  justify-content: flex-end;
}

.howitworks-section-one .row-div.third-one .div-img img {
  max-width: 100%;
  height: auto;
}

.howitworks-section-one .find-us-everyhwere {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.howitworks-section-one .find-us-everyhwere h2.title {
  margin: 0;
  font-weight: bold;
  position: relative;
  color: white;
  text-align: center;
}

.howitworks-section-one .find-us-everyhwere h2.title:after {
  content: ' ';
  position: absolute;
  width: 60px;
  height: 1px;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  bottom: -26px;
}

.howitworks-section-one .find-us-everyhwere h4.sub-title {
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.02em;
  color: #f2f2f2;
  margin: 52px 0 0 0;
}

.howitworks-section-one .find-us-everyhwere .img-pc {
  max-width: 732px;
  height: auto;
  width: 100%;
  margin: 55px auto 0;
}

@media screen and (max-width: 1439px) {
  .howitworks-section-one {
    margin: 60px 0 333px;
  }
  .howitworks-section-one .div-text-item h2.title {
    font-size: 30px;
  }
  .howitworks-section-one .title-wrapper .number-span {
    width: 60px;
    left: -60px;
    font-size: 30px;
  }
  .howitworks-section-one .div-text-item p {
    font-size: 20px;
    margin: 25px 0 0 0;
  }

  .howitworks-section-one .div-img img {
    max-width: 100%;
    height: auto;
  }

  .howitworks-section-one .row-div.first-one {
    margin: 0 0 85px 0;
  }
  .howitworks-section-one .row-div.second-one {
    margin: 0 0 84px 0;
  }
  .howitworks-section-one .row-div.third-one {
    margin: 0 0 56px 0;
  }
}

@media screen and (max-width: 991px) {
  .howitworks-section-one .row-div.first-one .div-text-item {
    padding-top: 0;
    padding-right: 20px;
  }
  .howitworks-section-one .row-div.second-one .div-text-item {
    padding-top: 0;
  }
  .howitworks-section-one .row-div.third-one .div-text-item {
    padding-top: 0;
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .howitworks-section-one .row-div {
    flex-wrap: wrap;
  }
  .howitworks-section-one .row-div .div-text-item {
    flex: 0 0 100%;
    margin: 0 0 50px 0;
    padding: 0;
  }
  .howitworks-section-one .row-div .div-img {
    flex: 0 0 100%;
    justify-content: center !important;
    margin: 0 0 70px 0;
  }
  .howitworks-section-one .row-div.row-div.second-one {
    flex-direction: column-reverse;
  }
  .howitworks-section-one .title-wrapper {
    justify-content: center;
    display: inline-flex;
    margin: 0 auto;
  }
  .howitworks-section-one .div-text-item p {
    text-align: center;
  }
  .howitworks-section-one .row-div.third-one .div-text-item p {
    max-width: 100%;
  }
}
/* how it works section end */

/* help styles start */
#get-in-touch-section {
  background: url('../images/help-bg.png') no-repeat;
  background-size: 100% 100%;
  min-height: 754px;
  padding-top: 123px;
  padding-bottom: 129px;
}

#get-in-touch-section .dc-container {
  display: flex;
}

#get-in-touch-section .left-div {
  flex: 0 0 50%;
}

#get-in-touch-section .left-div h1 {
  color: white;
  font-weight: 300;
  margin: 0;
}

#get-in-touch-section .left-div p {
  margin: 29px 0 0 0;
  font-weight: 300;
  font-size: 25px;
  line-height: 150%;
  color: #ffffff;
  max-width: 380px;
}

#get-in-touch-section .right-div {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 50%;
}

#get-in-touch-section .right-div form {
  max-width: 567px;
  width: 100%;
}

#get-in-touch-section .right-div .form-group {
  margin-bottom: 20px;
}

#get-in-touch-section .right-div .form-group label {
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  color: #8aafd8;
}
#get-in-touch-section .right-div .form-group .form-control {
  background: #020132;
  border: 0.8px solid #8aafd8;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 22px 26px;
}

#get-in-touch-section .right-div .form-group input {
  height: 70px;
}

#get-in-touch-section .right-div .form-group textarea {
  height: 243px;
}

#get-in-touch-section .right-div .btn-send {
  margin: 29px 0 0 auto;
  width: 114px;
  height: 51px;
  border: none;
  background: url('../images/send-btn.svg') no-repeat;
  background-size: 100% 100%;
}

@media screen and (max-width: 991px) {
  #get-in-touch-section {
    padding-top: 62px;
    padding-bottom: 64px;
  }
  #get-in-touch-section .dc-container {
    flex-wrap: wrap;
  }
  #get-in-touch-section .left-div {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #get-in-touch-section .left-div p {
    text-align: center;
  }
  #get-in-touch-section .right-div {
    flex: 0 0 100%;
    margin: 40px 0 0 0;
  }
  #get-in-touch-section .right-div form {
    margin-left: auto;
    margin-right: auto;
  }
}

/* help styles end */
